.footer{
    height: 150px;
    background-color:rgb(221, 214, 214);
    /* font-size: 10em; */
}
.footer p{
    font-size: 13px;
    line-height: 10px;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
